<form {{action authenticate on="submit"}}>
  <h1>Login</h1>
  <p>{{input type="text" placeholder="Username" value=username}}</p>
  <p>{{input type="password" placeholder="Password" value=password}}</p>
  <p>{{input type="submit" value="Log In"}}</p>
</form>
